/*
* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#box1 {

    width: 50%;
    margin: auto;
    display: flex;

}

#contenedor {

    width: 50%;
    height: 100px;

}

#contenedor2 {

    width: 50%;
    height: 100px;
}

.pais {

    height: 50px;
    padding: 5px;
    align-content: center;
    border: 1px solid black;

}

.capital {

    height: 50px;
    padding: 5px;
    align-content: center;
    border: 1px solid black;

}
*/

